{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataCrate | Tools and Servies </title>
    <link rel="stylesheet" href="{% static 'css/ToolsServices/ToolsServicesHome.css' %}">
</head>
<body>
    {% include 'Components/HorizontalNavBar.html' %}
    <div class="ToolsMainWrapper">
        <div class="ToolsMainContainer">
            <div class="ToolsHead">Get your work faster with our tools</div>
            <div class="ToolsHolder">
                <a href="#" class="ToolBox"> Generative AI </a>
                <a href="#" class="ToolBox"> OCR (Image to text) </a>
                <a href="#" class="ToolBox"> File Converter </a>
                <a href="{% url 'ToolsServices:SpecialLinks' %}" class="ToolBox"> Special Links </a>
                <a href="#" class="ToolBox"> Others </a>
            </div>
        </div>
    </div>
</body>
</html>