{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataCrate | Tools and Servies </title>
    <link rel="stylesheet" href="{% static 'css/ToolsServices/ToolsServicesHome.css' %}">
</head>
<body>
    {% include 'Components/HorizontalNavBar.html' %}
    <div class="ToolsMainWrapper">
        <div class="ToolsMainContainer">
            <h1>This is the Tools page.</h1>
        </div>
    </div>
</body>
</html>