{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataCrate | Editor</title>
    <link rel="stylesheet" href="{% static 'css/Editor/Editor.css' %}">
</head>
<body>
    {% include 'Components/HorizontalNavBar.html' %}
    <div class="EditorMainWrapper">
        <div class="EditorMainContainer">
            <h1>This is the Editor page.</h1>
        </div>
    </div>
</body>
</html>