{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataCrate | Editor</title>
    <link rel="stylesheet" href="{% static 'css/Editor/Editor.css' %}">
    <link rel="stylesheet" href="{% static 'css/Variables/Variables.css' %}">
</head>
<body>
    {% include 'Components/HorizontalNavBar.html' %}
    <div class="EditorMainWrapper">
        <div class="EditorMainContainer">
            <!-- Tool Bar -->
            <div class="EditorToolBar">
                <div class="EditorFileNameContainer">
                    <input type="text" class="EditorFileName" id="file-name-input" placeholder="file name">
                </div>
                <div class="EditorToolBarOptions">
                    <div class="EditorToolBarOption"> 
                        <div class="EditorToolBarHead"> New </div>
                    </div>
                    <div class="EditorToolBarOption"> 
                        <div class="EditorToolBarHead"> Existing </div>
                    </div>
                    <div class="EditorToolBarOption"> 
                        <div class="EditorToolBarHead"> Clear </div>
                    </div>
                    <div class="EditorToolBarOption"> 
                        <div class="EditorToolBarHead"> Others </div>
                    </div>
                    {% if user.is_authenticated %}
                    <div class="EditorToolBarOption"> 
                        <div class="EditorToolBarHead"> Save </div>
                    </div>
                    {% endif %}
                    <div class="EditorToolBarOption"> 
                        <div class="EditorGenerateLinkBtn"> Generate Link </div>
                    </div>
                </div>
            </div>
            <!-- Editor -->
            <textarea name="editor-main" id="editor-main" class="MainEditorBox"
            placeholder="Write your content here"></textarea>
        </div>
    </div>
</body>
</html>