* {
    width: 100%;    height: 100%;
    padding: 0;     margin: 0;
    box-sizing: border-box;
}

body {
    /* Navbar colours */ 
    --nav-bg-clr : rgb(6 20 11 / 65%);
    --nav-txt-clr :  rgb(78, 75, 75);
    --nav-special-txt-clr : green;
    --nav-highlight-txt-clr : white;
    --nav-anti-highlight-txt-clr : black;

    /* Component colours */
    --cmp-lvl-1-bg-clr : rgb(151 162 151 / 15%);

    &.light {
        /* Navbar colours */
        --nav-bg-clr : rgb(221 227 220 / 17%);
        --nav-txt-clr : rgb(65,68,65);
        --nav-highlight-txt-clr : black;
        --nav-special-txt-clr : green;
        --nav-anti-highlight-txt-clr : white;
    }
}

.FileShareWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    width: 100%;
    min-height: 100%;
    height: auto;
    padding-top: 60px;

    background-color: var(--nav-anti-highlight-txt-clr);
}

.FileShareContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    height: max-content;
    width: 100%;
}

.FileUploadWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    width: calc(100% - 40px);
    max-width: 600px;
    min-width: 300px;
    height: 400px;

    padding: 10px;
    margin: 10px;
    border-radius: 10px;

    font-size: 16px;
    background-color: var(--cmp-lvl-1-bg-clr);
    color: var(--nav-highlight-txt-clr);
}

.FileUploadSlide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

.FileUploadHead {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: calc(100% - 10px);
    height: 40px;

    margin: 5px;
    padding: 0 10px;
    font-size: 26px;
    font-weight: 700;
    font-family: sans-serif;
    color: var(--nav-highlight-txt-clr);
}

.FileUploadContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    width: calc(100% - 10px);
    height: calc(100% - 50px);

    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    background-color: var(--cmp-lvl-1-bg-clr);
    color: var(--nav-highlight-txt-clr);
}

.FileUploadText {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin: 10px;
    padding: 5px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.FileUploadBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: calc(100% - 10px);
    height: 40px;

    font-size: 16px;
    border: 0;
    border-radius: 10px;
    margin: 5px 10px;
    padding: 10px;
    cursor: pointer;
    color: var(--nav-highlight-txt-clr);
    background-color: var(--nav-special-txt-clr);
}

.FileUploadShowFiles {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    height: calc(100% - 130px);
    width: calc(100% - 10px);

    margin: 5px;
    overflow: auto;
}

.FileUploadFile {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;

    width: 100%;
    min-height: 60px;
    height: auto;

    font-size: 16px;
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
    background-color: var(--cmp-lvl-1-bg-clr);
}

.FileUploadDeleteFile {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 80px;
    height: 40px;

    border-radius: 5px;
    font-weight: 500;
    color: white;
    background-color: red;
}

.FileUploadLink {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: fit-content;

    margin:  5px 0;

    font-size: 16px;
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

.FileDownloadWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    width: calc(100% - 40px);
    max-width: 600px;
    min-width: 300px;
    min-height: 300px;
    height: 40%;
    max-height: 400px;

    padding: 10px;
    margin: 10px;
    border-radius: 10px;

    font-size: 16px;
    padding: 20px;
    background-color: var(--cmp-lvl-1-bg-clr);
    color: var(--nav-highlight-txt-clr);
}

.FileDownloadSlide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: calc(100% - 50px);
    width: calc(100% - 10px);

    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--cmp-lvl-1-bg-clr);
    color: var(--nav-highlight-txt-clr);
}

.FileDownloadText {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 40px;

    font-size: 18px;
    font-weight: 500;
}

.FileDownloadLinkBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    width: 100%;
    height: 50px;

    margin: 5px 0;
    padding: 10px;
}

.FileDownloadLinkBox > input {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    
    min-width: 120px;
    width: 50%;
    height: 100%;

    background-color: white;
    color: black;
    padding: 0;
    outline: 0;
    border: 0;
}

.DownloadLinkBtn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 160px;
    height: 50px;

    padding: 10px;
    margin: 5px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 500;
    border-radius: 10px;
    font-family: sans-serif;
    background-color: var(--nav-special-txt-clr);
}

.FileDownloadFileInfo {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;

    width: 100%;
    height: 60px;
    min-height: fit-content;
}

.FileDownloadFileCount {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 150px;
    height: 30px;

    margin: 10px;
    padding: 5px;
}

.FileDownlodBtns {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    height: 60px;
    padding: 5px;
}

.FileDownloadBtn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 120px;
    height: 40px;

    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: orange;
}

.FileDownloadEditorContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    width: calc(100% - 40px);
    min-width: 300px;
    min-height: 500px;
    height: 40%;

    padding: 10px;
    margin: 10px;
    border-radius: 10px;

    font-size: 16px;
    padding: 20px;
    background-color: var(--cmp-lvl-1-bg-clr);
    color: var(--nav-highlight-txt-clr);
}

.FileDownloadEditor {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;

    width: 100%;
    height: 100%;
    min-height: 400px;
    max-height: 500px;

    resize: none;
    border-radius: 10px;
    padding: 10px;
    background-color: black;
    color: rgba(241, 239, 239, 0.85);
}

.FileDownloadEditorBtns {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;

    width: 100%;
    height: 60px;

    padding: 10px;
}

.EditorBtn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 150px;
    height: 40px;

    margin: 5px;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    color: var(--nav-highlight-txt-clr);
    background-color: var(--nav-special-txt-clr);
}