{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataCrate | Sign Up</title>
    <link rel="stylesheet" href="{% static 'css/BasicSite/SignIn.css' %}">
</head>
<body>
<div class='SigninWrapper'>
    <!-- Upper Text -->
    <form action="" method='post' class="SigninMainContainer">
        {% csrf_token %}
        <div class="SigninHello"> Hello there, </div>
        <div class="SigninWelcomeMessage">
            Welcome. Please sign up to continue
        </div>
        <!-- OAuth Buttons -->
        <div class="SigninOauthWrapper">
            <div class="SigninOAuthBtn">
                <span style="font-size:24px; margin:0px 10px;">&#128269;</span>
                Sign in with Google
            </div>
            <div class="SigninOr"> or </div>
        </div>
        <!-- Input Container -->
        <div class="SigninInputWrapper">
            <div class="SigninInputContainer">
                <input type="email" class='SigninInputBox' name="email" placeholder='Email'>
            </div>
            <div class="SigninInputContainer">
                <input type="text" class='SigninInputBox' name="uname" placeholder='Username'>
            </div>
            <div class="SigninInputContainer">
                <input class='SigninInputBox' type="password" id="pass-holder" name="pass" placeholder='Password' style="padding-right:40px;">
                <span class='passwordIcon' id="pass-icon" onclick="showPassword()"> show </span>
            </div>
            <div class="SigninRememberContainer">
                <div class="SigninRemeber">
                    <input type="checkbox" name="remember-me" class='SigninCheckBox' name='rememberMe' />
                    <label for="rememberMe" class='rememberMe'> Remember me </label>
                </div>
                <a href="{% url 'BasicSite:Home' %}" class="SigninForgotPassword"> Forgot Password? </a>
            </div>
        </div>
        <!-- Sign In -->
        <button type="submit" class="SigninButton"> Sign Up </button>
        <!-- Sign up -->
        <div class="SignupContainer">
            Already have an account?
            <a href="{% url 'BasicSite:SignIn' %}" class="SigninForgotPassword"> Sign in</a>
        </div>
    </form>
</div>
<script>
    const passwordInput = document.getElementById('pass-holder');
    const showPassIcon = document.getElementById('pass-icon');

    function showPassword() {
        if (passwordInput.type === 'text') {
            passwordInput.type = 'password';
            showPassIcon.innerHTML = 'hide';
        } else {
            passwordInput.type = 'text';
            showPassIcon.innerHTML = 'show';
        }
    }
</script>
</body>
</html>