{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataCrate | Sign Up</title>
    <link rel="stylesheet" href="{% static 'css/BasicSite/SignIn.css' %}">
</head>
<body>
<div class='SigninWrapper'>
    <!-- Upper Text -->
    <div class="SigninMainContainer">
        <div class="SigninHello"> Hello there, </div>
        <div class="SigninWelcomeMessage">
            Welcome. Please sign up to continue
        </div>
        <!-- OAuth Buttons -->
        <div class="SigninOauthWrapper">
            <div class="SigninOAuthBtn">
                <span style="font-size:24px; margin:0px 10px;">&#128269;</span>
                Sign in with Google
            </div>
            <div class="SigninOr"> or </div>
        </div>
        <!-- Input Container -->
        <div class="SigninInputWrapper">
            <div class="SigninInputContainer">
                <input type="email" class='SigninInputBox' onchange="setEmail(event)" placeholder='Email'>
            </div>
            <div class="SigninInputContainer">
                <input type="text" class='SigninInputBox' onchange="setUName(event)" placeholder='Username'>
            </div>
            <div class="SigninInputContainer">
                <input class='SigninInputBox' type="password" id="pass-holder" onchange="setPass(event)" placeholder='Password' style="padding-right:40px;">
                <span class='passwordIcon' id="pass-icon" onclick="showPassword()"> show </span>
            </div>
            <div class="SigninRememberContainer">
                <div class="SigninRemeber">
                    <input type="checkbox" class='SigninCheckBox' name='rememberMe' />
                    <label for="rememberMe" class='rememberMe'> Remember me </label>
                </div>
                <a href="{% url 'BasicSite:Home' %}" class="SigninForgotPassword"> Forgot Password? </a>
            </div>
        </div>
        <!-- Sign In -->
        <div class="SigninButton" onclick="handleSubmit()"> Sign Up </div>
        <!-- Sign up -->
        <div class="SignupContainer">
            Already have an account?
            <a href="{% url 'BasicSite:SignIn' %}" class="SigninForgotPassword"> Sign in</a>
        </div>
    </div>
</div>
<script>
    const passwordInput = document.getElementById('pass-holder');
    const showPassIcon = document.getElementById('pass-icon');
    let email = "";
    let pass = "";
    let uname = "";

    function showPassword() {
        if (passwordInput.type === 'text') {
            passwordInput.type = 'password';
            showPassIcon.innerHTML = 'hide';
        } else {
            passwordInput.type = 'text';
            showPassIcon.innerHTML = 'show';
        }
    }
    function handleSubmit() {
        console.log('Submitted email , username and password');
        console.log(email,pass,uname);
    }
    function setEmail(e) {email = e.target.value;}
    function setPass(e) {pass = e.target.value;}
    function setUName(e) {uname = e.target.value;}
</script>
</body>
</html>