{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> DataCrate | Profile </title>
    <link rel="stylesheet" href="{% static 'css/BasicSite/UserProfile.css' %}">
    <link rel="stylesheet" href="{% static 'css/Variables/Variables.css' %}">
</head>
<body>
    {% include 'Components/HorizontalNavBar.html' %}
    <div class="profilePageWrapper">
        <!-------------------------------->
        <!-- User Details -->
        <!-- Profile pic, username on left -->
        <!-- email(must), phone number, country and city on right -->
        <div class="profileMainDetails">
            <div class="sectionHead">User Details</div>
            <div class="profileDetailsBox">        
                <div class="profileLeftSection">
                    <div class="profilePicContainer">
                        <div class="ProfilePicBox"> P </div>
                    </div>
                    <div class="profileUserName" id="inp-uname"> @username </div>
                </div>
                <div class="profileRightSection">
                    <div class="profileRightItemWrapper">
                        <div class="profileRightItem" style="width: 40%;min-width: 280px;">
                            <div class="inputLabel"> Email </div>
                            <input type="email" value="user@email.com" id="inp-email" class="inputBoxContainer" >
                        </div>
                            <div class="profileRightItem">
                                <div class="inputLabel"> Phone Number </div>
                                <input type="tel" value="0123456789" id="inp-pass" class="inputBoxContainer" >
                            </div>
                            <div class="profileRightItem">
                                <div class="inputLabel"> Country </div>
                                <input type="text" value="India" id="inp-country" class="inputBoxContainer" >
                            </div>
                            <div class="profileRightItem">
                                <div class="inputLabel"> City </div>
                                <input type="text" value="Delhi" id="inp-city" class="inputBoxContainer" >
                            </div>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>

        <!-------------------------------->
        <!-- Settings -->
        <!-- Edit details -->
        <!-- logout -->
        <!-- password update -->
        <!-- delete account -->
        <!-- Delete all files -->
        <!-- UI customization -->
        <div class="profileMainDetails">
            <div class="sectionHead"> Settings </div>
            <div class="profileSettingsContainer">
                <div class="profileButtons"> Edit details </div>
                <div class="profileButtons" style="background-color: rgba(212, 77, 77, 0.79);"> logout </div>
                <div class="profileButtons"> password update </div>
                <div class="profileButtons" style="background-color: red;"> delete account </div>
                <div class="profileButtons"> empty storage</div>
                <div class="profileButtons"> cutomize UI </div>
            </div>
        </div>
    </div>
</body>
</html>