{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> DataCrate | Profile </title>
    <link rel="stylesheet" href="{% static 'css/BasicSite/UserProfile.css' %}">
</head>
<body>
    {% include 'Components/HorizontalNavBar.html' %}
    <div class="profilePageWrapper">
        <h1> This is User Profile Page </h1>
        <!-------------------------------->
        <!-- User Details -->
        <!-- Profile pic, username on left -->
        <!-- email(must), phone number, country and city on right -->

        <!-------------------------------->
        <!-- Settings -->
        <!-- Edit details -->
        <!-- logout -->
        <!-- password update -->
        <!-- delete account -->
        <!-- Delete all files -->
        <!-- UI customization -->

    </div>
</body>
</html>