.SigninWrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.SigninMainContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    min-width: 300px;
    width: calc(100% - 10px);
    max-width: 400px;
    min-height: 500px;

    font-family: sans-serif;
    border-radius: 5px;

    padding: 30px 30px 0 30px;
    margin: 5px;

    background-color: rgba(0,0,0);
    color: rgb(255,255,255);
    box-shadow: 0 0 20px rgb(230,230,230),
                0 0 40px rgb(100,100,100);
}

.SigninHello {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    font-size: 24px;
    font-weight: 500;

    padding: 5px 10px;
}

.SigninWelcomeMessage {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    font-size: 12px;

    padding: 0 10px 20px 10px ;

    color: rgb(170,170,170);
}

.SigninOauthWrapper {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: calc(100% - 20px);

    padding: 10px 0 20px 0;

    border-bottom: 1px solid rgb(60,60,60);
}

.SigninOAuthBtn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 40px;

    font-weight: 500;
    font-size: 14px;
    border: 1px solid rgb(60,60,60);
    border-radius: 3px;

    padding: 5px;
}

.SigninOr {
    position: absolute;
    bottom: -10px;
    left: 42%;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;

    font-size: 14px;

    background-color: black;
    color: white;
}

.SigninInputWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: calc(100% - 20px);

    padding: 10px 0;
    margin: 10px 0;
}

.SigninInputContainer {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    width: 100%;

    padding: 10px 0 5px 0;
}

.SigninInputBox {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 40px;

    padding: 5px 0 5px 10px;

    outline: none;
    border: 0;
    border-bottom: 1px solid rgb(60,60,60);
    background-color: transparent;
    color: white;
}

.SigninInputBox::placeholder {color: rgb(170,170,170);}

.passwordIcon {
    position: absolute;
    top: 20px;
    right: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 20px;
    height: 20px;

    cursor: pointer;

    color: rgb(60,60,60);
    background: linear-gradient(90deg,transparent,black);
}

.SigninRememberContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    width: 100%;

    margin: 10px 0;
}

.SigninRemeber {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.SigninCheckBox {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 15px;
    height: 15px;

    border: 1px solid rgb(30,30,30);
    border-radius: 5px;

    margin: 0 15px 0 0;

    background-color: transparent;
}

.rememberMe {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
}

.SigninForgotPassword {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 12px;
    text-decoration: underline;

    margin: 5px;

    color: rgb(25, 180, 192);
}

.SigninButton {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 50px;

    margin: 10px 0;

    font-size: 18px;
    cursor: pointer;

    color: black;
    background-color: white;
}

.SignupContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    width: 100%;

    font-size: 12px;

    padding: 20px 0 10px 0;
}