* {
    width: 100%;    height: 100%;
    padding: 0;     margin: 0;
    box-sizing: border-box;
}

body {
    /* Component colours */
    --cmp-lvl-1-bg-clr : rgb(151 162 151 / 15%);

    /* Navbar colours */
    --nav-bg-clr : rgb(6 20 11 / 65%);
    --nav-txt-clr :  rgb(78, 75, 75);
    --nav-special-txt-clr : green;
    --nav-highlight-txt-clr : white;
    --nav-anti-highlight-txt-clr : black;
    &.light {
        /* Navbar colours */
        --nav-bg-clr : rgb(232 249 228 / 40%);
        --nav-txt-clr : rgb(65,68,65);
        --nav-highlight-txt-clr : black;
        --nav-special-txt-clr : green;
        --nav-anti-highlight-txt-clr : white;
    }
}

.ToolsMainWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    width: 100%;
    min-height: 100%;
    padding-top: 60px;

    background-color: var(--nav-anti-highlight-txt-clr);
}

.ToolsMainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    color: var(--nav-highlight-txt-clr);
}

.ToolsHead {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: fit-content;

    font-size: 32px;
    font-weight: 500;
    font-family: sans-serif;
    margin: 20px;
}

.ToolsHolder {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;
    height: fit-content;

    gap: 10px;

    border-radius: 10px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 400;
}

.ToolBox {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    min-width: 140px;
    max-width: 300px;
    height: 150px;

    border-radius: 10px;
    color: var(--nav-highlight-txt-clr);
    background-color: var(--cmp-lvl-1-bg-clr);
}
