* {
    margin: 0;      padding: 0;
    width: 100%;
    box-sizing: border-box;
}
.NavMainWrapper {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    height: 60px;

    color: white;
    font-size: 16px;
    font-family: sans-serif;
}

.MainContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    width: 100%;
    height: 60px;

    background-color:var(--nav-bg-clr);
    backdrop-filter: blur(7px);
}

.LogoSection {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 15%;
    min-width: 180px;
    height: 60px;

    padding: 5px 10px;
    font-size: 30px;
    font-style: italic;
    text-decoration: none;
    color: rgb(13, 113, 13);
}

.HamburgerWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;

    width: 85%;
    min-height: 60px;
}

.HamburgerMenu {
    position: relative;

    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 40px;    height: 40px;
    padding: 3px;
    margin: 10px;
}

.HamburgerLines {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 2px;

    margin: 3px;
    background-color: white;
}
.HamburgerTop {top: 4px;}
.HamburgerMid {top: 20px;}
.HamburgerDown {top: 36px;}

.activeHamburger > .HamburgerTop {transform: translateY(16px) rotateZ(-45deg);}
.activeHamburger > .HamburgerMid {opacity: 0;}
.activeHamburger > .HamburgerDown {transform: translateY(-16px) rotateZ(45deg);}


.NavLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    height: 60px;
    width: 65%;
}

.NavLink {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    
    min-height: 60px;
}

.NavLinkHead {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 60px;
    width: fit-content;

    padding: 10px;

    font-size: 16px;
    color: var(--nav-txt-clr);
    text-decoration: none;
    transition: 0.7s;
}
.NavLinkHead:hover {color: var(--nav-special-txt-clr);}

.NavMainLinks {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;

    width: 25%;
    min-width: 300px;
}

.NavMainLink {
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 40px;
    width: fit-content;
    
    margin: 10px 5px 5px 5px;
    padding: 20px;
    color: black;
    border-radius: 10px;
    background-color: #9b888df5;
    text-decoration: none;
}


/* Responsive Design */
@media only screen and (max-width : 800px) {
    .MainContainer {align-items: flex-start;}
    .HamburgerWrapper {
        flex-direction: column; 
        flex-wrap: nowrap; 
        align-items: flex-end; 
        justify-content: flex-start; 
        height: fit-content;
        width: fit-content;
        min-width: 150px;
        width: 100%;
        max-width: 300px;
        background-color:var(--nav-bg-clr);
        backdrop-filter: blur(14px);
    }
    .NavLinks {
        display: none; 
        flex-direction: column; 
        justify-content: flex-start; 
        height: fit-content;
        width: 100%;
        max-width: 300px;
    }
    .NavLink {flex-direction: column;}
    .NavMainLinks {
        display: none; 
        flex-direction: column; 
        justify-content: flex-start; 
        height: fit-content;
        align-items: center;
        min-width: 120px;
        width: 100%;
        max-width: 300px;
    }
    .NavMainLink {flex-direction: column;}
    .HamburgerMenu {display: flex;}
}