{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> DataCrate </title>
    <link rel="stylesheet" href="{% static 'css/FileTransfer/FileShare.css' %}">
</head>
<body>
    {% include 'Components/HorizontalNavBar.html' %}
    <div class="FileShareWrapper">
        <!-- Main Container of the upload -->
        <div class="FileShareContainer">
            <!-- File Upload -->
            <div class="FileUploadContainer">
                Files will be uploaded here.
            </div>
            <!-- File Download -->
            <div class="FileDownloadContainer">
                Files will be downloaded here
            </div>
            <!-- Others -->
            <div class="FileShareOthersContainer">
                Other things here.
            </div>
        </div>
    </div>
</body>
</html>