{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataCrate | File Store</title>
    <link rel="stylesheet" href="{% static 'css/FileStore/FileStoreHome.css' %}">
</head>
<body>
    {% include 'Components/HorizontalNavBar.html' %}
    <div class="FileStoreWrapper">
        <div class="FileStoreContainer">
            <!-- To make navigation Easy -->
            <div class="FileStoreTopBar">
                <input type="text" class="FileStoreSearch"
                placeholder="what are you looking for?">
                <a href="{% url 'BasicSite:Home' %}" class="uploadBtn" > Publish File </a>
            </div>
            <!-- Most popular topics here -->
            <div class="FileStoreTopSupport">
                <div class="popularTopics"> IPU sem 6 </div>
                <div class="popularTopics"> sem 5 </div>
                <div class="popularTopics"> assignments </div>
                <div class="popularTopics"> files </div>
            </div>
            <!-- Files here -->
            <div class="FileStoreFiles">
                No files here.
            </div>
        </div>
    </div>
</body>
</html>
